name: CI/CD Pipeline


on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
 
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # Installation des outils de test et de linter (Ruff)
          pip install pytest ruff selenium webdriver-manager

      - name: Lint with Ruff
        run: |
          # Exécute ruff sur le dossier courant [cite: 71]
          ruff check .

      - name: Run Tests
        run: |
          # Lance les tests unitaires et d'intégration [cite: 72]
          python -m unittest discover tests

  
  build-validation:
    needs: quality-check
    if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Docker image (Validation only)
        
        run: docker build . --file Dockerfile --tag taskmanager:test

  
  deploy-production:
    needs: quality-check
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          [cite_start]username: ${{ secrets.DOCKERHUB_USERNAME }}
          [cite_start]password: ${{ secrets.DOCKERHUB_TOKEN }}

      
      - name: Create .env file
        [cite_start]run: echo "${{ secrets.ENV_VARIABLES }}" > .env.production

      - name: Build and Push to DockerHub
        uses: docker/build-push-action@v5
        with:
          context: .
          [cite_start]push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/taskmanager:latest
